table {
  overflow: auto;
  border-collapse: collapse;
}

body {
  background-color: #000000;
  font-family: 'Open Sans';
}

table td,
table th {
  min-width: 9em;
  max-width: 9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr:nth-child(odd) {
  background-image: linear-gradient(-90deg, #FFFFFF, #9E9E9E);
}

tr:nth-child(even) {
  background-image: linear-gradient(-90deg, #dedede, #6e6e6e);
}

table th {
  background-color: #FF4136;
  color: #ffffff;
  min-width: 9em;
  max-width: 9em;
}

.dptable {
  margin: 2%;
}

.tr-expanded td {
  min-height: 15em;
  max-height: 15em;
  white-space: normal;
}

.col-0 { display: none; }
